<h1>DISCOVER OUR </br>WORKSPACES</h1>

<div class="cards-workspaces">
    <% @workspaces.each do |workspace| %>
        <div class="card">
          <%= image_tag 'workspace-01.png', class: "card-image"%>
        <div class="card-content">
          <h2><%= workspace.name %></h2>
          <p>Address </br><strong><%= workspace.address %></strong></p>
          <p>Description </br><strong><%= workspace.description %></strong></p>
          <p id="price-wrapper"><span id="price"><%= workspace.price %>€</span> / Day</p>
          <% if workspace.user_id == current_user.id %>
            <%= link_to 'Your Workspace', workspace , class: "button-secondary", id: "my-btn"%>
          <% else %>
            <%= link_to 'Show', workspace , class: "button-primary", id: "show-btn"%>
          <% end %>
        </div>
        </div>
    <% end %>
</div>

<%= image_tag 'map.png', class: "map"%>
