<h1>Workspaces</h1>

<div class="cards-workspaces">
    <% @workspaces.each do |workspace| %>
        <div class="card">
        <h2><%= workspace.name %></h2>
        <p>Address </br><%= workspace.address %></p>
        <p>Description </br><%= workspace.description %></p>
        <p>Price </br><%= workspace.price %></p>
        <p>Seats </br><%= workspace.seats %></p>
        <%= link_to 'Show', workspace , class: "button-primary", id: "show-btn"%>
      </div>
    <% end %>
</div>

<br>

<%= link_to 'Home', root_path %>
