<h1>Your workspaces</h1>

<% current_user.workspaces.each do |workspace| %>
<p><%= workspace.name %>, <%= workspace.address %> | <%= link_to 'Edit', edit_workspace_path(workspace) %> |
<%= link_to 'Delete', workspace_path(workspace), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<% end%>

<h1>Create a new workspace</h1>

<%= render 'form', workspace: @workspace %>
