<h1>MY <br> WORKSPACES</h1>

<div class="cards-workspaces">
<% current_user.workspaces.each do |workspace| %>
<div class="card">
  <%= image_tag 'workspace-01.png', class: "card-image"%>
  <div class="card-content">
  <h2><%= workspace.name %></h2>
  <p>Address </br><strong><%= workspace.address %></strong></p>
  <p>Description </br><strong><%= workspace.description %></strong></p>
  <p id="price-wrapper"><span id="price"><%= workspace.price %>€</span> / Day</p>
  <p> <em>Your requests for <%= workspace.name %>:</em> </p>
    <ul> <% workspace.bookings.each do |booking| %>
      <li> <%= booking.user.email%>
        <%= link_to "Accept", validation_booking_path(booking) %> <%= link_to "Reject", rejection_booking_path(booking) %>
        <% if booking.status === "accepted" %>
            <p> Accepted </p>
        <% elsif booking.status === "rejected" %>
            <p>Rejected</p>
        <% else  %>
            <p>Pending</p>
          <% end %>
        <% end %>
      </li>
    </ul>
   <%= link_to 'Edit', edit_workspace_path(workspace) , class: "btn button-primary", id: "edit-btn"%>
   <%= link_to 'Delete', workspace_path(workspace) ,method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning", id: "delete-btn"%>   
  </div>
  </div>
<% end%>
</div>


<h1>Create a new workspace</h1>

  <div class="card-create">
<%= render 'form', workspace: @workspace %>
  </div>

