<h1>MY WORKSPACES</h1>

<div class="cards-workspaces">
  <% current_user.workspaces.each do |workspace| %>
  <div class="card" id="my-workspaces-card">
    <%= image_tag 'workspace-01.png', class: "card-image"%>
    <div class="card-content">
      <h2 id="address"><%= workspace.name %></h2>
      <p>Address </br><strong><%= workspace.address %></strong></p>
      <% if workspace.bookings.present? %>
        <p id="requests">Requests for <%= workspace.name %>:</p>
          <ul> <% workspace.bookings.each do |booking| %>
            <li><span id="request-email"><%= booking.user.email%></span>
              <% if booking.status === "accepted" %>
                  <span class="request-status" id="accepted">Accepted</span>
              <% elsif booking.status === "rejected" %>
                  <span class="request-status" id="rejected">Rejected</span>
              <% else  %>
                  <span class="request-status" id="pending">Pending</span>
              <% end %>
              <p id="accept-reject"><%= link_to "Accept", validation_booking_path(booking)%>   <%= link_to "Reject", rejection_booking_path(booking) %></p>
              <% end %>
            </li>
          </ul>
        <% else %>
        <p id="requests">No Requests for <%= workspace.name %></p>
        <% end %>
     <%= link_to 'Edit', edit_workspace_path(workspace) , class: "button-primary", id: "edit-btn"%>
     <%= link_to 'Delete', workspace_path(workspace) ,method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning", id: "delete-btn"%>
  </div>
  </div>
<% end%>
</div>


<h1>Create a new workspace</h1>

  <div class="card-create">
<%= render 'form', workspace: @workspace %>
  </div>

