<h1><%= @workspace.name %></h1>

<p>Address: <%= @workspace.address %></p>
<p>Description: <%= @workspace.description %></p>
<p>Price: <%= @workspace.price %> € / day</p>
<p>Seats: <%= @workspace.seats %></p>

</br>

<div class="book-workspace">
  <h4>Book this Workspace</h4>
  <div>
  <%= simple_form_for [@workspace, @booking] do |f| %>
    <%= f.input :date, as: :date %>
    <h4><%= @workspace.price %> € / day</h4>
    <%= f.submit class:"button-primary"%>
  <% end %>
  </div>
</div>

</br>
<%= link_to 'All Workspaces', workspaces_path %>


