<h1><%= @workspace.name %></h1>

<p>Address: <%= @workspace.address %></p>
<p>Description: <%= @workspace.description %></p>
<p>Price: <%= @workspace.price %></p>
<p>Seats: <%= @workspace.seats %></p>
<p> Create a booking </p>

<br>



<%= link_to 'Back', workspaces_path %>
