<div class="header-wrapper">
<h1>ADIEU, HOME OFFICE.</br>HELLO, LIFE.</h1>
<p>Are you ready for new opportunities outside your home bubble? Discover your new Workspaces with FlexDex
- whenever you want, whereever you want and with who you want.</p>
<%= link_to "All Workspaces", workspaces_path, class: "button-primary", id:"header-btn"%>
<%= image_tag 'home-01.png', class: "header-image"%>
</div>

<%= image_tag 'background-vector.png', class: "background-vector-green"%>

<div class="second-wrapper">
  <div class="second-text">
    <h1>ENJOY</br>FLEXIBILITY.</h1>
    <p>FlexDex offers very flexible agreements. With the vitality of business, change is constant. Being in a shared workspace allows for adjustments to be made with increased ease and in an efficient manner.</p>
  </div>
<%= image_tag 'home-02.png', class: "second-image"%>
</div>

<div class="third-wrapper">
  <div class="third-text">
    <h1>CREATE</br>COLLABORATION.</h1>
    <p>FlexDex Working spaces expose you to chance and opportunity. Who knows where a casual conversation may lead? Working in proximity to others allows quick collaboration to occur. Next thing you know, you could be hiring someone new.</p>
  </div>
<%= image_tag 'home-03.png', class: "third-image"%>
</div>

<div class="fourth-wrapper">
  <div class="fourth-text">
    <h1>BOOST</br>CREATIVITY.</h1>
    <p>By working with other individuals and exposing yourself to new perspectives, coworking spaces can provide bursts of creativity. Sometimes, switching spaces and heading to a new office can allow you to refresh your mind and consider alternative solutions to business problems.</p>
  </div>
<%= image_tag 'home-04.png', class: "fourth-image"%>
</div>
